.header-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    position: relative;
    border-bottom: 1px solid #e9edf4;
    background-color: #ffffff;
}

/* Tiêu đề chính */
.header-title-group {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-title {
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    background: linear-gradient(to right, #6EE2F5, #6454F0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-subtitle {
    margin: 0;
    padding-bottom: 30px;
    font-size: 12px;
    background: linear-gradient(to right, #6EE2F5, #6454F0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
}

/* Nút Login bên phải trên */
.login-button-header {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #a6d2f7;
    border: none;
    color: white;
    font-weight: 700;
    padding: 6px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.15);
    transition: background-color 0.3s ease;
    width: 110px;
}

.login-button-header:hover {
    background-color: #94bdf9;
}

/* Icon trong nút Login */
.login-icon {
    stroke: white;
    width: 18px;
    height: 18px;
}

/* Thanh nav menu */
.header-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    position: relative;
    border-bottom: 1px solid #e9edf4;
    background-color: #ffffff;
}


/* Nav phần này full width */
.header-nav {
    width: 100vw;
    background-color: #F2F4F8;
    padding: 8px 0;
    border-bottom: 1px solid #e9edf4;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

/* Menu vẫn căn giữa */
.nav-list {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.nav-item {
    font-weight: 600;
    font-size: 15px;
    color: black;
    padding: 6px 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

.nav-item:hover {
    background-color: #c4e3fb;
}

.nav-item.active {
    background-color: #6EE2F5;
    color: black;
    font-weight: 700;
}