.blog-session {
  max-width: 1000px;
  margin: 60px auto 80px;
  padding: 0 20px;
}

.blog-title {
  font-weight: 800;
  font-size: 35px;
  color: #22223d;
  margin-bottom: 4px;
  background: linear-gradient(to right, #6ee2f5, #6454f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog-subtitle {
  font-size: 14px;
  color: #a1a5bb;
  margin-bottom: 40px;
}

.separator {
  margin: 0 8px;
  color: #9cb0f6;
}

.view-all {
  color: #7a7df8;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.view-all:hover {
  text-decoration: underline;
}

.blog-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.blog-card {
  background: white;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  border-radius: 12px;
  width: 31%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.blog-card:hover {
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.blog-img-placeholder {
  width: 100%;
  height: 160px;
  background-color: #a6d2f7;
  border-radius: 12px 12px 0 0;
  flex-shrink: 0;
}

.blog-content {
  padding: 15px 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.blog-post-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #121433;
}

.blog-post-meta {
  font-size: 12px;
  color: #a1a5bb;
  margin-bottom: 12px;
}

.blog-post-desc {
  font-size: 13px;
  color: #6f7287;
  flex-grow: 1;
  margin-bottom: 18px;
  line-height: 1.4;
}

.blog-btn-details {
  background: none;
  border: none;
  color: #121433;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0;
  user-select: none;
  position: relative;
  overflow: hidden;
  width: calc(fit-content + 20px);
}

.blog-btn-details .arrow {
  font-size: 18px;
  margin-left: 8px;
  transition: margin-left 0.3s ease;
  position: relative;
  left: 0;
}

.blog-btn-details:hover .arrow {
  margin-left: 24px;
  left: 4px;
}


.blog-view-more-wrapper {
  text-align: center;
  margin-top: 40px;
}

.blog-view-more-btn {
  background: linear-gradient(to right, #6ee2f5, #6454f0);
  color: white;
  font-weight: 600;
  padding: 12px 36px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(100, 84, 240, 0.6);
  transition: background 0.3s ease;
}

.blog-view-more-btn:hover {
  background: linear-gradient(to right, #58c9eb, #4a3ccc);
}
